.d-header {
    box-shadow: none;
    border-bottom: 1px solid var(--primary-low-mid);
    height: 5em;
    .d-icon {
        color: var(--primary-low-mid);
      }
}
#main-outlet {
  padding-top: 6.5em;
}

.navigation-container {
    .select-kit.combo-box {
      .select-kit-header {
        border-radius: .9em;
        background-color: var(--header_background);
      }
      &.category-drop,
    &.tag-drop {
      .select-kit-body {
        border-radius: .9em;
        background-color: var(--header_background);
  
        .select-kit-collection {
          background-color: var(--header_background);
          border-top-left-radius: 0px;
          border-top-right-radius: 0px;
        }

        .select-kit-filter {
            border-top: 0px;
          }
      }
    }
    }
    .nav-pills {
        & > li a {
            padding: 0;
            margin-right: 20px;
            color: var(--tertiary-high);
            border-bottom: 4px solid transparent;
          &.active {
           color: var(--tertiary);
           background-color: var(--secondary);
           border-bottom: 4px solid var(--tertiary);
          }
          &:hover {
            color: var(--tertiary);
            background-color: var(--secondary);
            border-bottom: 4px solid var(--primary);
          }
      }
    }
    
  }
  :not(.d-editor-button-bar) > 
  .btn:not(.single-select-header):not(.modal-close),
  .topic-notifications-button > .select-kit > .btn {
    background-color: var(--header_background);
    color: var(--primary);
    border-radius: 1.2em;
    border: 1px solid var(--primary-low-mid);
  
    .d-icon {
      color: var(--primary);
    }
  
    &:hover {
      background-color: var(--quaternary-low);
      color: var(--primary);
      .d-icon {
        color: var(--primary);
      }
    }
  
    &.btn-default,
    &.btn-primary {
      padding: 10px 12px;
    }
  }